.dashboard {
    height: 100vh;
    overflow: hidden;

    .side-nav {
        width: 250px;
        padding: 30px 15px;
        background-color: #f8f9fa;

        .nav-pills .nav-link {
            text-align: left;
        }
    }

    .show-component-box {
        width: calc(100vw - 250px);
        min-height: 100vh;
        border: transparent;
    }
}