@charset "UTF-8";
.navbar-1 .navbar-brand .brand-logo, .navbar-6 .navbar-brand .brand-logo, .navbar-5 .navbar-brand .brand-logo, .navbar-4 .navbar-brand .brand-logo, .navbar-3 .navbar-brand .brand-logo, .navbar-2 .navbar-brand .brand-logo {
  max-width: 180px;
}
.navbar-1 .navbar-nav .nav-link, .navbar-6 .navbar-nav .nav-link, .navbar-5 .navbar-nav .nav-link, .navbar-4 .navbar-nav .nav-link, .navbar-3 .navbar-nav .nav-link, .navbar-2 .navbar-nav .nav-link {
  color: #444;
  font-size: 18px;
}
.navbar-1 .navbar-nav .nav-link:hover, .navbar-6 .navbar-nav .nav-link:hover, .navbar-5 .navbar-nav .nav-link:hover, .navbar-4 .navbar-nav .nav-link:hover, .navbar-3 .navbar-nav .nav-link:hover, .navbar-2 .navbar-nav .nav-link:hover {
  color: #be0930;
}
.navbar-1 .navbar-nav .nav-link.active, .navbar-6 .navbar-nav .nav-link.active, .navbar-5 .navbar-nav .nav-link.active, .navbar-4 .navbar-nav .nav-link.active, .navbar-3 .navbar-nav .nav-link.active, .navbar-2 .navbar-nav .nav-link.active {
  color: #be0930;
}

.navbar-4 .auth-btn {
  background-color: #be0930;
  color: #fff;
  border-color: transparent;
}
.navbar-4 .auth-btn:hover {
  background-color: aqua;
  color: #444;
}

.navbar-5 .auth-btn {
  background-color: #be0930;
  color: #fff;
  border-color: transparent;
}
.navbar-5 .auth-btn:hover {
  background-color: aqua;
  color: #444;
}
.navbar-5 .auth-btn-outline {
  background-color: transparent;
  color: #222;
  border-color: black;
}
.navbar-5 .auth-btn-outline:hover {
  background-color: aqua;
  color: #444;
}

.navbar-6 .auth-action .auth-action-btn:active, .navbar-6 .auth-action .auth-action-btn.show {
  border-color: transparent;
}
.navbar-6 .auth-action .auth-action-btn .user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 991px) {
  .navbar-6 .auth-action .dropdown-menu-end {
    --bs-position: start;
    left: 0;
    right: auto;
  }
}

.navbar-7 .navbar-brand .brand-logo {
  max-width: 180px;
}
.navbar-7 .navbar-nav .nav-link {
  color: #444;
  font-size: 18px;
}
.navbar-7 .navbar-nav .nav-link:hover {
  color: #be0930;
}
.navbar-7 .navbar-nav .nav-link i {
  font-size: 16px;
  color: red;
}

.navbar-8 .navbar-brand .brand-logo {
  max-width: 180px;
}
.navbar-8 .navbar-nav .nav-link {
  color: #444;
  font-size: 18px;
}
.navbar-8 .navbar-nav .nav-link:hover {
  color: #be0930;
}
.navbar-8 .navbar-nav .nav-link i {
  font-size: 16px;
  color: red;
}

.navbar-9 .navbar-brand .brand-logo, .navbar-10 .navbar-brand .brand-logo {
  max-width: 180px;
}
.navbar-9 .navbar-nav .nav-link, .navbar-10 .navbar-nav .nav-link {
  color: #444;
  font-size: 18px;
}
.navbar-9 .navbar-nav .nav-link:hover, .navbar-10 .navbar-nav .nav-link:hover {
  color: #be0930;
}
.navbar-9 .navbar-nav .nav-link i, .navbar-10 .navbar-nav .nav-link i {
  font-size: 16px;
  color: red;
}
.navbar-9 .navbar-nav .nav-link i:hover, .navbar-10 .navbar-nav .nav-link i:hover {
  color: #09be45;
}
.navbar-9 .auth-btn, .navbar-10 .auth-btn {
  background-color: #be0930;
  color: #fff;
  border-color: transparent;
}
.navbar-9 .auth-btn:hover, .navbar-10 .auth-btn:hover {
  background-color: aqua;
  color: #444;
}

.accordion-1 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-1 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-2 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-2 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-2 .accordion-header .accordion-button:after {
  margin-left: initial;
}

.accordion-3 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-3 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-3 .accordion-header .accordion-button:after {
  background-image: none;
}
.accordion-3 .accordion-header .accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-3 .accordion-header .accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: initial;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-4 .accordion-header .accordion-button, .accordion-5 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-4 .accordion-header .accordion-button:not(.collapsed), .accordion-5 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-4 .accordion-header .accordion-button:not(.collapsed)::after, .accordion-5 .accordion-header .accordion-button:not(.collapsed)::after {
  content: "−";
  background-image: none;
  transform: none;
}
.accordion-4 .accordion-header .accordion-button:after, .accordion-5 .accordion-header .accordion-button:after {
  content: "+";
  background-image: none;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.accordion-6 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-6 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-7 .accordion-header .accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.accordion-7 .accordion-header .accordion-button:not(.collapsed) {
  color: white;
  background-color: red;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-7 .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion-7 .accordion-header .accordion-button:after {
  background-image: none;
}
.accordion-7 .accordion-header .accordion-button:not(.collapsed)::before {
  content: "−";
  background-image: none;
  transform: none;
}
.accordion-7 .accordion-header .accordion-button:before {
  content: "+";
  background-image: none;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-right: 10px;
}

.slider1 .swiper {
  width: 600px;
  height: 250px;
}
.slider1 .swiper-slide {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: rgba(128, 156, 184, 0.712);
}
.slider1 .swiper-slide .s-parent {
  padding-bottom: 40px;
  position: relative;
}
.slider1 .swiper-slide .s-parent p {
  font-size: 12px;
  display: none;
}
.slider1 .swiper-slide .s-parent .year {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  text-align: center;
  display: block;
}
.slider1 .swiper-slide-active {
  background: #0024cb;
  width: 180px !important;
}
.slider1 .swiper-slide-active .s-parent p {
  padding: 10px;
  display: block;
}
.slider1 .swiper-slide-active .s-parent .year {
  margin-top: 30px;
}

.banner-1 {
  background: #E0F7FF;
}
.banner-1 .main-title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}
.banner-1 .description {
  color: #222;
}
.banner-1 .banner-action .action-btn {
  background-color: orange;
  color: #222;
  font-weight: 500;
}
.banner-1 .banner-action .action-btn:hover {
  background-color: rgba(255, 165, 0, 0.8);
}

.banner-2, .banner-4, .banner-3 {
  background: #E0F7FF;
}
.banner-2 .main-title, .banner-4 .main-title, .banner-3 .main-title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}
.banner-2 .description, .banner-4 .description, .banner-3 .description {
  color: #222;
}
.banner-2 .banner-action .action-btn, .banner-4 .banner-action .action-btn, .banner-3 .banner-action .action-btn {
  background-color: orange;
  color: #222;
  font-weight: 500;
}
.banner-2 .banner-action .action-btn:hover, .banner-4 .banner-action .action-btn:hover, .banner-3 .banner-action .action-btn:hover {
  background-color: rgba(255, 165, 0, 0.8);
}
.banner-2 .banner-action .action-btn-outline, .banner-4 .banner-action .action-btn-outline, .banner-3 .banner-action .action-btn-outline {
  background-color: transparent;
  border: 1px solid orange;
  color: #222;
  font-weight: 500;
}
.banner-2 .banner-action .action-btn-outline:hover, .banner-4 .banner-action .action-btn-outline:hover, .banner-3 .banner-action .action-btn-outline:hover {
  background-color: rgba(255, 165, 0, 0.8);
  border-color: transparent;
}

.banner-5 {
  background: #E0F7FF;
}
.banner-5 .main-title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}
.banner-5 .description {
  color: #222;
}
.banner-5 .form-group-section .input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 10;
  color: #666;
}
.banner-5 .form-group-section .input-group .form-control {
  padding-left: 40px;
  border: 1px solid #1670BD;
  font-size: 20px;
}
.banner-5 .form-group-section .input-group .btn {
  background-color: #1670BD;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
}
.banner-5 .form-group-section .input-group .btn i {
  color: #fff;
  transition: 0.2s linear;
}
.banner-5 .form-group-section .input-group .btn:hover {
  background-color: rgba(22, 112, 189, 0.8);
}
.banner-5 .form-group-section .input-group .btn:hover i {
  transform: translateX(3px);
}

.banner-6 {
  background: #E0F7FF;
}
.banner-6 .main-title {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}
.banner-6 .description {
  color: #222;
}
@media (max-width: 768px) {
  .banner-6 .form-group-section {
    margin: 0 auto;
  }
}
.banner-6 .form-group-section .input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  z-index: 10;
  color: #666;
}
.banner-6 .form-group-section .input-group .form-control {
  padding-left: 40px;
  border: 1px solid #1670BD;
  font-size: 20px;
}
.banner-6 .form-group-section .input-group .btn {
  background-color: #1670BD;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
}
.banner-6 .form-group-section .input-group .btn i {
  color: #fff;
  transition: 0.2s linear;
}
.banner-6 .form-group-section .input-group .btn:hover {
  background-color: rgba(22, 112, 189, 0.8);
}
.banner-6 .form-group-section .input-group .btn:hover i {
  transform: translateX(3px);
}

.dashboard {
  height: 100vh;
  overflow: hidden;
}
.dashboard .side-nav {
  width: 250px;
  padding: 30px 15px;
  background-color: #f8f9fa;
}
.dashboard .side-nav .nav-pills .nav-link {
  text-align: left;
}
.dashboard .show-component-box {
  width: calc(100vw - 250px);
  min-height: 100vh;
  border: transparent;
}/*# sourceMappingURL=style.css.map */